@charset "UTF-8";
/* css 기본 설정 */
*{ margin : 0; padding: 0; font-family: "맑은 고딕" }
a{ text-decoration: none; color: black; }
a:hover { order: #eeeeee; }
li{ list-style-type: none; }


/* 페이지 실제 사이즈 */
.box{ width: 1200px; margin: 0 auto; position: relative; }
/* ------------------------ 헤더 ----------------------------*/
#header{ height: 100px; }
.logo{ position: absolute; top:20px; left: 20px; }
.logo_impact{ color: blue; font-weight: bold; }
.top_menu{ position: absolute; right: 20px; top:30px; }
.top_menu li{ display: inline; margin-left: 20px; }

#int_bgimg{text-align: center;
		   background-image: url("img/sub_intro.jpg");
		   clear: both;
		   background-repeat: no-repeat;
		   background-position: top center;
		   height: 350px;
		   color: white;
		   padding-top: 150px;
}
#int_main_content1{
	height: 400px;
	
}
.int_mainimgbox{
	float: left;
	width: 450px;
	margin-left: 80px;
}
.int_mainimg{
	width: 100%;
}


.int_content1{
	float: right;
	width: 400px;
	padding-right: 250px;
}



#int_main_content2{
	height: 400px;
	padding-top: 50px;
}
.int_mainimgbox2{
	float: right;
	width: 450px;
	margin-right: 80px;
	
}
.int_mainimg2{
	width: 100%;
}


.int_content2{
	float: left;
	width: 400px;
	padding-left: 250px;
}
.int_back{
	background-color: #eeeeee;
}






#footer{ 
	clear: both;  background-color:#292c32; color: white;   
	padding: 20px; height: 250px;
}
.ft_item{ float: left; width: 380px; margin-top: 50px; }
.ft_item li{ display: inline; }
.ft_item ul{ margin-bottom: 20px; }
.ft_sns{ float: right; width: 380px; margin-top: 50px; text-align: center; }
.ft_sns img{ margin-left: 10px;}




